{{ define "head" }}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{{ end }}

{{ define "body" }}
    <form id="form" method="POST" action="/predict/" enctype="multipart/form-data">
        <input id="image-field" type="file" name="image">
    </form>

    <div id="container">
        <button onclick="upload()">Upload</button>

        {{ if eq .ImageBase64 "" }}
            <img id="image-preview">        
        {{ else }}
            <img id="image-preview" src="data:image/jpeg;base64,{{ .ImageBase64 }}">
        {{ end }}

        {{ range .Predictions }}
            <p>{{ .Label }} {{ .Probability }}</p>
        {{ end }}
    </div>
    <script>
        function upload() {
            var imageField = document.getElementById("image-field");
            imageField.click();
        }

        (function() {
            var form = document.getElementById("form");
            var imgDOM = document.getElementById("image-preview");
            var imageField = document.getElementById("image-field");

            var imageReader = new FileReader();
            imageReader.onloadend = function() {
                imgDOM.src = this.result;
                form.submit();
            }

            imageField.addEventListener("change", function(e) {
                imageReader.readAsDataURL(this.files[0]);
            })
        })()
    </script>
{{ end }}
