<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
        {{ template "head" . }}
    </head>
    <body>
        {{ template "body" . }}
    </body>
</html>